<template>
  <nav class="navbar navbar-dark bg-dark mb-3 navbar-expand-sm fixed-top">
    <div class="container-fluid justify-content-center">
      <h4 class="navbar-brand mb-0 h1 d-flex">
        <HeadQuestionOutlineIcon />
        <h4>The Trivia Game</h4>
      </h4>
    </div>
  </nav>
</template>
<script>
import HeadQuestionOutlineIcon from "vue-material-design-icons/HeadQuestionOutline";
export default {
  components: {
    HeadQuestionOutlineIcon,
  },
};
</script>
