<template>
  <main class="container">
    <div class="card">
      <div class="card-body mt-4">
        <h2>{{ replace(questions[questionIndex].question) }}</h2>
        <div class="row justify-content-md-center">
          <button
            class="btn btn-primary mt-4"
            v-on:click="next($event)"
            v-for="answer of this.questions[this.questionIndex].answers"
            :key="answer"
            :value="answer"
          >
            {{ replace(answer) }}
          </button>
        </div>

        <section class="alert alert-danger" v-if="error">
          <h4>Error!!!</h4>
          <p class="mb-0">{{ error }}</p>
        </section>
      </div>
    </div>
  </main>
</template>

<script>
import { getConfig } from "../utils/config";
import { STORAGE_KEY_CONFIG_ANSWERS } from "../consts/storageKeys";
import { getQuestions } from "@/api/triviaAPI";

export default {
  components: {},
  name: "QuestionScreen",
  async created() {
    const config = getConfig();

    if (config === null) {
      this.$router.push("/");
      return;
    }

    try {
      this.questions = await getQuestions(
        config.amount,
        config.category.id,
        config.difficulty
      );
    } catch (error) {
      this.error = error.message;
    }
  },
  methods: {
    // Link to next question
    next(e) {
      // Check if the answer is correct, and store the scores
      if (
        this.questions[this.questionIndex].correct_answer === e.target.value
      ) {
        this.score += 10;
      }
      this.answers.push(e.target.value);

      localStorage.setItem(
        STORAGE_KEY_CONFIG_ANSWERS,
        JSON.stringify({
          questions: this.questions,
          myanswers: this.answers,
          score: this.score,
        })
      );

      this.questionIndex++;
      if (this.questionIndex < this.questions.length) {
        this.$router.push(`/questions/${this.questionIndex}`);
      } else {
        this.$router.push("/result");
      }
    },

    //Replace with apostrophes and quotes
    replace(string) {
      string = string.replace(new RegExp("&#039;", "g"), "'");
      string = string.replace(new RegExp("&quot;", "g"), '"');
      return string;
    },
  },
  data() {
    return {
      error: "",
      questions: {},
      questionIndex: 0,
      score: 0,
      answers: [],
    };
  },
};
</script>
