<template
  ><main class="container">
    <h3 class="mt-4">Total Score</h3>
    <h1 class="mb-5">{{ answers.score }}</h1>

    <div class="mb-4" v-for="(q, index) of answers.questions" :key="index">
      <p class="h4">{{ replace(q.question) }}</p>
      <p>Correct Answer: {{ replace(q.correct_answer) }}</p>
      <p>
        Your Answer:
        {{ replace(answers.myanswers[index]) }}
      </p>
    </div>
    <button class="btn btn-primary mb-5" v-on:click="back()">
      Start a new game
    </button>
  </main>
</template>

<script>
import { STORAGE_KEY_CONFIG_ANSWERS } from "../consts/storageKeys";

export default {
  name: "ResultScreen",
  created() {
    this.answers = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG_ANSWERS));
  },
  methods: {
    back() {
      this.$router.push("/");
    },
    replace(string) {
      string = string.replace(new RegExp("&#039;", "g"), "'");
      string = string.replace(new RegExp("&quot;", "g"), '"');
      return string;
    },
  },
  data() {
    return {
      answers: null,
    };
  },
};
</script>
