<template>
  <main class="container">
    <h4>Game Configure</h4>

    <form @submit.prevent="onGetQuestionsSubmit" class="mb-3">
      <div class="mb-4 mt-4">
        <label class="form-label">Number of Questions:</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          v-model="selectedAmount"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Select Difficulty:</label>
        <select
          class="form-select"
          aria-label="difficulty"
          v-model="selectedDifficulty"
        >
          <option selected value="">Any Difficulty</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Select Category:</label>
        <select
          class="form-select"
          aria-label="category"
          v-model="selectedCategory"
        >
          <option selected value="">Any Category</option>
          <option
            v-for="category of categories.trivia_categories"
            :value="category"
            :key="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">GO</button>
    </form>

    <section class="alert alert-danger" v-if="error">
      <h4>Error!!!</h4>
      <p class="mb-0">{{ error }}</p>
    </section>
  </main>
</template>

<script>
import { getCategories } from "@/api/triviaAPI";
import { setConfig } from "@/utils/config";

export default {
  name: "StartScreen",
  async created() {
    try {
      this.categories = await getCategories();
    } catch (error) {
      this.error = error.message;
    }
  },
  methods: {
    onGetQuestionsSubmit() {
      this.error = "";

      if (!this.selectedAmount) {
        this.error = "You forgot to enter the number of the questions";
        return;
      }
      setConfig({
        amount: this.selectedAmount,
        difficulty: this.selectedDifficulty,
        category: this.selectedCategory,
      });
      // Redirect to the questions
      this.$router.push("/questions");
    },
  },
  data() {
    return {
      selectedAmount: "",
      selectedCategory: "",
      selectedDifficulty: "",
      categories: [],
      error: "",
    };
  },
};
</script>
